body {
    background-color: rgb(15, 206, 126);
    /* rgb(131, 131, 184) */
}

h1 {
    color: white;
    height: 50px;
}

h3 {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
}

input {
    display: flex;
    height: 45px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 20px 15px 10px -1px rgb(0 0 0 / 15%);
    text-align: center;
}

.calculator {
    display: flex;
    height: 750px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    font-size: 20px;
    height: 60px;
    width: 180px;
    padding: 18px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(222, 158, 38);
    box-shadow: 20px 15px 10px -1px rgb(0 0 0 / 15%);
    margin-bottom: 0px;
}

.calc:hover {
    background-color: rgb(189, 134, 32);
}

.imc-result {
    display: flex;
    flex-direction: row;
    height: 25px;
    margin-top: 10px;
}

.bmi-result {
    float: left;
    flex-direction: row;
    margin-top: 2.5px;
    margin-left: 10px;
}

.condition {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.condition-result {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

.ideal {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.w-ideal {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

* {
    font-family: sans-serif;
    margin-bottom: 10px;
}