body {
    background-color: rgb(15, 206, 126);
    /* rgb(131, 131, 184) */
}

h1 {
    color: white;
    height: 50px;
}

input {
    display: flex;
    height: 45px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 20px 15px 10px -1px rgb(0 0 0 / 15%);
    text-align: center;
}

.calculator {
    display: flex;
    height: 750px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    font-size: 20px;
    height: 60px;
    width: 180px;
    padding: 18px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(222, 158, 38);
    box-shadow: 20px 15px 10px -1px rgb(0 0 0 / 15%);
    margin-bottom: 0px;
}

.calc:hover {
    background-color: rgb(189, 134, 32);
}

.imc-result {
    display: inline-block;
    width: 100%;
}

.imc-result h3 {
    position: static;
    padding-left: 48.5%;
    float: left;
    margin-bottom: 0px;
}

.bmi-result {
    float: left;
    margin: 20px 10px 0px;
}

.condition {
    display: inline-block;
    width: 100%;
}

.condition h3 {
    position: static;
    padding-left: 45%;
    float: left;
    margin-top: 0px;
}

.condition-result {
    float: left;
    margin: 1.5px 10px 0px;
}

.ideal {
    display: inline-block;
    width: 100%;
}

.ideal h3 {
    position: static;
    padding-left: 44.5%;
    float: left;
    margin-top: 0px;
}

.w-ideal {
    float: left;
    margin: 2px 10px;
}

* {
    font-family: sans-serif;
    margin-bottom: 10px;
}